* {
    background-color: rgb(130, 129, 186);
  }
  
  .block{
    border: 2px dashed;
    height: 100px;
    width: 100px;
    transform: linear-gradient(to bottom, red, blue);
    cursor: pointer;
    background-color: rgb(146, 141, 148);
    display: flex;
    justify-content: center;
    align-items: center; 
    font-size: 35px;
    font-weight: bold;
    border-radius: 5px ;
  }
  
  .board {
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  border: 2px solid;
  padding: 10px 10px;
  transform: translate(-50%, -50%);
  
}

.row {
  display: flex;
}

.header{
  /* text-align:center ;
   */
  justify-items: center;
  font-weight: bold;
  font-size: 50px;
  font-style: oblique;
  padding: 2px 15px;
}